/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/vendor/
/web/uploads/
/web/assets/vendor/
/app/phpunit.xml
/phpunit.xml
/composer.phar
/build/
/bin/
/composer.phar
/nbproject/
/.idea/
